.places__paragraph {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 0;
    margin: 0;    
}
.places__paragraph:first-child {
    padding-bottom: 40px;
}

@media screen and (max-width: 768px) {
    .places__paragraph {
        font-size: 16px;
        line-height: 1.6;
    }
    .places__paragraph:first-child {
        padding-bottom: 24px;
    }
}