.lead__title {
    max-width: 720px;
    width: 100%;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.05;
    text-align: center;
    color: #FFFFFF;
    padding-top: 56px;
    margin: 0;
}
@media screen and (max-width: 1024px) {
    .lead__title {
        padding: 48px 0 0 0;

    }
}
@media screen and (max-width: 690px) {
    .lead__title {
        font-size: 54px;
        line-height: 1.1;
    }
}
@media screen and (max-width: 425px) {
    .lead__title {
        font-size: 48px;        
    }
}
@media screen and (max-width: 320px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
    }
}