.footer__copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.1;
    text-align: right;
    color: #FFFFFF;
    margin: 0;
}
@media screen and (max-width: 320px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 1;
    }
}