.footer__copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.15;
    text-align: right;
    color: #FFFFFF;
    margin: 0;
    align-self: end;
}
@media screen and (max-width: 690px){
    .footer__copyright{
        justify-self: start;
    }
}
@media screen and (max-width: 320px) {
    .footer__copyright {
        line-height: 1;
        }
}