@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__background/cover__background.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__link/cover__link.css);
.cover {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 0 48px;
    padding: 92px 0;
}
@media screen and (max-width: 1024px) {
    .cover {
        margin: 0;
    }
}
@media screen and (max-width: 768px) {
    .cover {
        padding: 123px 0 53px 0;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        padding: 62px 0;
    }
}