.cover__title {
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.1;
    text-align: center;
    color: #FFFFFF;
    padding: 245px 0 0 0;
    margin: 0;
    z-index: 2;
}
@media screen and (max-width: 320px) {
    .cover__title {
        font-size: 32px;
        line-height: 1;
        padding: 33px 0 0 0;
    }
}