@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__menu/footer__menu.css);
.footer {
    display: grid;
    grid-template-columns: auto max-content;
    padding: 0 48px 24px 48px;
    margin: 0;
    align-items: end;
}
@media screen and (max-width: 768px) {
    .footer {
        padding: 0 24px 24px 24px;
    }
}
@media screen and (max-width: 690px){
    .footer {
        grid-template-columns: 1fr;
        }
}
@media screen and (max-width: 320px) {
    .footer {
        grid-template-columns: 1fr;
}
}